.card {
    display: flex;
    flex-direction: column;
    gap: 44px;
    height: 500px;
    width: 100%;
    padding: 44px;
    background-color: #000;
}
.title {
    /* color: #A0A0A0; */
    font-size: 48px;
    font-weight: 700;
}
.imgwrapper {
    display: flex;
    height: 200px;
    text-align: center;
    justify-content: center;
}
.info {
    list-style: none;
    line-height: 150%;
    font-size: 17px;
    font-weight: 500;
}
.pic {
    object-fit: cover;
    height: 100%;
}
